<template>
    <div class="flex-col text-center w-full">
        <form id="avatar-update-form" :action="avatarUpdateUrl" method="post">
            <div class="dropzone-wrapper flex flex-row justify-center">
                <div class="avatar-wrapper lex w-1/2 mb-4 items-center justify-center">
                    <img :src="avatarImageUrl" class="flex rounded-full object-cover">
                </div>
            </div>
            <p class="text-sm italic">Hint: Drop a new image over your old one to update it!</p>
        </form>

        <p class="text-lg mt-6 pt-4 border-t border-grey">{{ user.name }}</p>
        <p class="text-lg">{{ user.email }}</p>
        <p class="text-sm">
            <span v-show="user.verified_status">Your e-mail has been verified!</span>
            <span v-show="!user.verified_status">Click <a href="#" v-on:click.prevent="sendEmailVerify">here</a> to verify your e-mail.</span>
        </p>
    </div>
</template>

<script>
// imports

export default {
    name: 'AvatarForm',

    props: {
        avatarUpdateUrl: {
            type: String,
            required: true
        },

        avatarImageUrl: {
            type: String,
            required: true
        },

        user: {
            type: Object,
            required: true
        },

        verifyEmailUrl: {
            type: String,
            required: true
        },
    },

    data () {
        return {}
    },

    mounted () {
        //
    },

    methods: {
        sendEmailVerify () {
            let _this = this
            let payload = {
                email: _this.user.email
            }

            axios.post(_this.verifyEmailUrl, payload)
                .then(function (resp) {
                    _this.$snotify.success('Email sent', 'Success')
                })
                .catch(function (erro) {
                    _this.$snotify.success('There was a problem, please try again later', 'Error')
                    console.error(erro)
                })
        }
    }
}
</script>
