<template>
    <form id="profile-update-form" :action="updateUrl" method="post" v-on:submit.prevent="submitForm">
        <div class="flex flex-col w-full mb-6">
            <label for="name" class="pl-2 mb-3">Your Name:</label>
            <input type="text" id="name" name="name" v-model="user.name" class="border border-grey bg-white text-black rounded px-2 py-3 w-full">
        </div>

        <div class="flex flex-col w-full mb-6">
            <label for="email" class="pl-2 mb-3">Your E-Mail Address:</label>
            <input type="email" id="email" name="email" v-model="user.email" class="border border-grey bg-white text-black rounded px-2 py-3 w-full">
        </div>

        <button class="threeD-button threeD-button-green">Update Profile</button>
    </form>
</template>

<script>
// imports

export default {
    name: 'ProfileForm',

    props: {
        name: {
            type: String,
            required: true
        },

        email: {
            type: String,
            required: true
        },

        updateUrl: {
            type: String,
            required: true
        }
    },

    data () {
        return {
            user: {
                name: '',
                email: '',
            }
        }
    },

    mounted () {
        this.user.name = this.name
        this.user.email = this.email
    },

    methods: {
        submitForm () {
            let _this = this
            let payload = this.user

            axios.post(this.updateUrl, payload)
                .then(function (resp) {
                    _this.$snotify.success('Your profile has been updated successfully', 'Success')
                })
                .catch(function (erro) {
                    _this.$snotify.success('There was a problem, please try again later', 'Error')
                    console.error(erro)
                })
        }
    }
}
</script>
