.form-wrapper {
    background-image: url('../images/backgrounds/krisjanis-mezulis-483354-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    /* flex-direction: column; */
}

.form-wrapper::before {
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.form-wrapper > div {
    z-index: 5;
}

.auth-form-title {
    background: #2779BD;
    background: -moz-linear-gradient(45deg, rgba(39,121,189,1) 7%, rgba(28,61,90,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(39,121,189,1) 7%, rgba(28,61,90,1) 100%);
    background: linear-gradient(45deg, rgba(39,121,189,1) 7%, rgba(28,61,90,1) 100%);
    margin-top: -2rem;
}

.form-block {
    margin-bottom: 1em;
    label {
        width: 100%;
    }
}

#email,
#password {
    line-height: 2;
}

.border-b-hover-color:focus {
    border-color: #38A89D;
    transition: border-color 0.5s ease;
}

.invalid-feedback {
    color: red;
}
