/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 */
@import "components/waves";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 */
@import "variables";
@import "tailwind-extender";

@import "components/card";
@import "components/checkbox";
@import "components/buttons";

@import "pages/auth";

@import "~vue-snotify/styles/material";

html, body {
    @apply flex text-black w-full min-h-screen;
    background-color: #EEEEEE;
}

div, span, applet, object, iframe, p, a,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary,
time, mark, audio, video {
    font-family: 'Open Sans', sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

blockquote, pre, cite, code, output {
    font-family: monospace;
}

#app {
    height: 100%;
    width: 100%;
}

#quick-quote-form,
#form_edit-quote {
    height: 100%;
    width: 100%;
}

.quick-quote_text {
    height: 250px;
    padding: 1em;
    resize: none;
    width: 100%;
}

.quick-quote_author {
    display: block;
    padding: 1em;
    width: 100%;
}

.quick-quote_year {
    display: block;
    padding: 1em;
    width: 100%;
}

#form_edit-quote textarea {
    min-height: 250px;
    resize: vertical;
    width: 100%;
}

.avatar-wrapper {
    height: 250px;
    width: 250px;
}
