/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 */


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 */
@import "variables";

html, body {
    background-color: #fff;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    margin-left: 5em;
    margin-right: 5em;
    text-align: center;
}

.quote {
    color: #3B4347;
    font-family: 'Crimson Text', serif;
    font-size: 4em;
    line-height: 1.333;
}

.author {
    color: #636b6f;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: italic;
}
