@for $i from 1 through 15 {
    .z-#{$i} {
        z-index: #{$i};
    }
}

/**
 * Shadows
 */
.shadow-blue-dark {
    box-shadow: 0 3px 5px 0 rgba(39, 121, 189, 0.20);
}

.shadow-md-blue-dark  {
    box-shadow: 0 8px 6px -6px rgba(39, 121, 189, 0.5);
}

.shadow-lg-blue-dark {
    box-shadow: 0 15px 30px 0 rgba(39, 121, 189, 0.22),
            0 5px 15px 0 rgba(39, 121, 189, 0.08);
}

.shadow-inner-blue-dark {
    box-shadow: inset 0 2px 4px 0 rgba(39, 121, 189, 0.12);
}

.shadow-outline-blue-dark {
    box-shadow: 0 0 0 3px rgba(39, 121, 189, 0.5);
}

.object-fill {
    object-fit: fill;
}

.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}

.object-none {
    object-fit: none;
}

.object-scale {
    object-fit: scale-down;
}
