.threeD-button {
    @apply font-bold py-3 px-6 border-b-4 rounded;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8)
}

.threeD-button:active {
    @apply border-b-2 border-t-2;
}

.threeD-button.threeD-button-white {
    @apply bg-white text-black border-grey;
}
.threeD-button.threeD-button-white:active {
    @apply border-white;
}


.threeD-button.threeD-button-grey {
    @apply bg-grey text-grey-lighter border-grey-darkest;
}
.threeD-button.threeD-button-grey:active {
    @apply border-grey-darker;
}


.threeD-button.threeD-button-red {
    @apply bg-red text-white border-red-dark;
}
.threeD-button.threeD-button-red:disabled {
    @apply bg-pink text-white border-red;
    cursor: not-allowed;
}
.threeD-button.threeD-button-red:active {
    @apply border-red;
}


.threeD-button.threeD-button-orange {
    @apply bg-orange text-white border-orange-dark;
}
.threeD-button.threeD-button-orange:active {
    @apply border-orange;
}


.threeD-button.threeD-button-yellow {
    @apply bg-yellow text-white border-yellow-dark;
}
.threeD-button.threeD-button-yellow:active {
    @apply border-yellow;
}


.threeD-button.threeD-button-green {
    @apply bg-green text-white border-green-dark;
}
.threeD-button.threeD-button-green:active {
    @apply border-green;
}


.threeD-button.threeD-button-green-dark {
    @apply bg-green-dark text-white border-green-darker;
}
.threeD-button.threeD-button-green:active {
    @apply border-green-dark;
}


.threeD-button.threeD-button-teal {
    @apply bg-teal text-white border-teal-dark;
}
.threeD-button.threeD-button-teal:active {
    @apply border-teal;
}


.threeD-button.threeD-button-blue {
    @apply bg-blue text-white border-blue-dark;
}
.threeD-button.threeD-button-blue:active {
    @apply border-blue;
}


.threeD-button.threeD-button-indigo {
    @apply bg-indigo text-white border-indigo-dark;
}
.threeD-button.threeD-button-indigo:active {
    @apply border-indigo;
}


.threeD-button.threeD-button-purple {
    @apply bg-purple text-white border-purple-dark;
}
.threeD-button.threeD-button-purple:active {
    @apply border-purple;
}


.threeD-button.threeD-button-pink {
    @apply bg-pink text-white border-pink-dark;
}
.threeD-button.threeD-button-pink:active {
    @apply border-pink;
}
