/**
 * Shared card properties
 */


.card,
.card-small,
.card-medium {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 15px 5px 0;
  padding: 0 0.75em;
  width: 100%;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  position: relative;
}

.card .card_header,
.card-small .card_header,
.card-medium .card_header {
  display: flex;
  margin-top: -15px;
}

.card .card_footer,
.card-small .card_footer,
.card-medium .card_footer {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.card .card_footer i,
.card-small .card_footer i,
.card-medium .card_footer i {
  margin-right: 0.35rem;
}


/**
 * Main card form
 */


.card {
  display: flex;
  flex-direction: column;
}

.card .card_header {
  flex-direction: column;
  padding: 1em;
}

.card .card_header p:first-child {
  font-weight: bold;
  padding-bottom: 0.75em;
}

.card .card_body {
  display: flex;
  align-items: stretch;
  flex-grow: 2;
  padding: 1.75em 0 1em 0;
}

.card .card_body p {
  margin-bottom: 1em;
}

.card .card_footer {
  display: flex;
  align-self: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  padding: 0.75em 0;
  width: 100%;
}


/**
 * Smaller card form
 */


.card-small {
  flex-flow: row wrap;
}

.card-small .card_header {
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  font-size: 200%;
}

.card-small .card_body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em 0.5em;
  width: calc(100% - 80px);
}

.card-small .card_footer {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0.5em;
  padding: 0.75em 0;
  width: 100%;
}

/**
 * Smaller card form
 */


.card-medium {
  flex-flow: row wrap;
}

.card-medium .card_header {
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  font-size: 200%;
}

.card-medium .card_body {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  width: calc(100% - 80px);
}

.card-medium .card_body .flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card-medium .card_body .blok {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  min-width: 30%;
}

.card-medium .card_body .blok p {
  font-size: 150%;
}

.card-medium .card_body .description {

}

.card-medium .card_footer {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0.5em;
  padding: 0.75em 0;
  width: 100%;
}


/**
 * Card header color shadows
 */


.card_header.bg-black {
  -webkit-box-shadow: 0 12px 20px -10px rgba(34, 41, 47, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(34, 41, 47, 0.2);
  box-shadow: 0 12px 20px -10px rgba(34, 41, 47, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(34, 41, 47, 0.2);
}

.card_header.bg-grey-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(61, 72, 82, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(61, 72, 82, 0.2);
  box-shadow: 0 12px 20px -10px rgba(61, 72, 82, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(61, 72, 82, 0.2);
}

.card_header.bg-grey-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(96, 111, 123, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(96, 111, 123, 0.2);
  box-shadow: 0 12px 20px -10px rgba(96, 111, 123, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(96, 111, 123, 0.2);
}

.card_header.bg-grey-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(135, 149, 161, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(135, 149, 161, 0.2);
  box-shadow: 0 12px 20px -10px rgba(135, 149, 161, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(135, 149, 161, 0.2);
}

.card_header.bg-grey {
  -webkit-box-shadow: 0 12px 20px -10px rgba(184, 194, 204, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(184, 194, 204, 0.2);
  box-shadow: 0 12px 20px -10px rgba(184, 194, 204, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(184, 194, 204, 0.2);
}

.card_header.bg-grey-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(218, 225, 231, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(218, 225, 231, 0.2);
  box-shadow: 0 12px 20px -10px rgba(218, 225, 231, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(218, 225, 231, 0.2);
}

.card_header.bg-grey-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(241, 245, 248, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(241, 245, 248, 0.2);
  box-shadow: 0 12px 20px -10px rgba(241, 245, 248, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(241, 245, 248, 0.2);
}

.card_header.bg-grey-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(248, 250, 252, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(248, 250, 252, 0.2);
  box-shadow: 0 12px 20px -10px rgba(248, 250, 252, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(248, 250, 252, 0.2);
}

.card_header.bg-white {
  -webkit-box-shadow: 0 12px 20px -10px rgba(255, 255, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
  box-shadow: 0 12px 20px -10px rgba(255, 255, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
}

.card_header.bg-red-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(59, 13, 12, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(59, 13, 12, 0.2);
  box-shadow: 0 12px 20px -10px rgba(59, 13, 12, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(59, 13, 12, 0.2);
}

.card_header.bg-red-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(98, 27, 24, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(98, 27, 24, 0.2);
  box-shadow: 0 12px 20px -10px rgba(98, 27, 24, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(98, 27, 24, 0.2);
}

.card_header.bg-red-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(204, 31, 26, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(204, 31, 26, 0.2);
  box-shadow: 0 12px 20px -10px rgba(204, 31, 26, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(204, 31, 26, 0.2);
}

.card_header.bg-red {
  -webkit-box-shadow: 0 12px 20px -10px rgba(227, 52, 47, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(227, 52, 47, 0.2);
  box-shadow: 0 12px 20px -10px rgba(227, 52, 47, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(227, 52, 47, 0.2);
}

.card_header.bg-red-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(239, 87, 83, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(239, 87, 83, 0.2);
  box-shadow: 0 12px 20px -10px rgba(239, 87, 83, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(239, 87, 83, 0.2);
}

.card_header.bg-red-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(249, 172, 170, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(249, 172, 170, 0.2);
  box-shadow: 0 12px 20px -10px rgba(249, 172, 170, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(249, 172, 170, 0.2);
}

.card_header.bg-red-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(252, 235, 234, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(252, 235, 234, 0.2);
  box-shadow: 0 12px 20px -10px rgba(252, 235, 234, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(252, 235, 234, 0.2);
}

.card_header.bg-orange-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(70, 42, 22, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(70, 42, 22, 0.2);
  box-shadow: 0 12px 20px -10px rgba(70, 42, 22, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(70, 42, 22, 0.2);
}

.card_header.bg-orange-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(97, 59, 31, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(97, 59, 31, 0.2);
  box-shadow: 0 12px 20px -10px rgba(97, 59, 31, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(97, 59, 31, 0.2);
}

.card_header.bg-orange-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(222, 117, 31, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(222, 117, 31, 0.2);
  box-shadow: 0 12px 20px -10px rgba(222, 117, 31, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(222, 117, 31, 0.2);
}

.card_header.bg-orange {
  -webkit-box-shadow: 0 12px 20px -10px rgba(246, 153, 63, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(246, 153, 63, 0.2);
  box-shadow: 0 12px 20px -10px rgba(246, 153, 63, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(246, 153, 63, 0.2);
}

.card_header.bg-orange-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(250, 173, 99, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(250, 173, 99, 0.2);
  box-shadow: 0 12px 20px -10px rgba(250, 173, 99, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(250, 173, 99, 0.2);
}

.card_header.bg-orange-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(252, 217, 182, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(252, 217, 182, 0.2);
  box-shadow: 0 12px 20px -10px rgba(252, 217, 182, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(252, 217, 182, 0.2);
}

.card_header.bg-orange-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(255, 245, 235, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 245, 235, 0.2);
  box-shadow: 0 12px 20px -10px rgba(255, 245, 235, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 245, 235, 0.2);
}

.card_header.bg-yellow-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(69, 52, 17, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(69, 52, 17, 0.2);
  box-shadow: 0 12px 20px -10px rgba(69, 52, 17, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(69, 52, 17, 0.2);
}

.card_header.bg-yellow-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(104, 79, 29, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(104, 79, 29, 0.2);
  box-shadow: 0 12px 20px -10px rgba(104, 79, 29, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(104, 79, 29, 0.2);
}

.card_header.bg-yellow-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(242, 208, 36, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(242, 208, 36, 0.2);
  box-shadow: 0 12px 20px -10px rgba(242, 208, 36, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(242, 208, 36, 0.2);
}

.card_header.bg-yellow {
  -webkit-box-shadow: 0 12px 20px -10px rgba(255, 237, 74, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 237, 74, 0.2);
  box-shadow: 0 12px 20px -10px rgba(255, 237, 74, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 237, 74, 0.2);
}

.card_header.bg-yellow-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(255, 243, 130, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 243, 130, 0.2);
  box-shadow: 0 12px 20px -10px rgba(255, 243, 130, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 243, 130, 0.2);
}

.card_header.bg-yellow-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(255, 249, 194, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 249, 194, 0.2);
  box-shadow: 0 12px 20px -10px rgba(255, 249, 194, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 249, 194, 0.2);
}

.card_header.bg-yellow-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(252, 251, 235, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(252, 251, 235, 0.2);
  box-shadow: 0 12px 20px -10px rgba(252, 251, 235, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(252, 251, 235, 0.2);
}

.card_header.bg-green-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(15, 47, 33, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(15, 47, 33, 0.2);
  box-shadow: 0 12px 20px -10px rgba(15, 47, 33, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(15, 47, 33, 0.2);
}

.card_header.bg-green-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(26, 71, 49, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(26, 71, 49, 0.2);
  box-shadow: 0 12px 20px -10px rgba(26, 71, 49, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(26, 71, 49, 0.2);
}

.card_header.bg-green-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(31, 157, 85, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(31, 157, 85, 0.2);
  box-shadow: 0 12px 20px -10px rgba(31, 157, 85, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(31, 157, 85, 0.2);
}

.card_header.bg-green {
  -webkit-box-shadow: 0 12px 20px -10px rgba(56, 193, 114, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(56, 193, 114, 0.2);
  box-shadow: 0 12px 20px -10px rgba(56, 193, 114, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(56, 193, 114, 0.2);
}

.card_header.bg-green-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(81, 216, 138, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(81, 216, 138, 0.2);
  box-shadow: 0 12px 20px -10px rgba(81, 216, 138, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(81, 216, 138, 0.2);
}

.card_header.bg-green-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(162, 245, 191, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(162, 245, 191, 0.2);
  box-shadow: 0 12px 20px -10px rgba(162, 245, 191, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(162, 245, 191, 0.2);
}

.card_header.bg-green-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(227, 252, 236, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(227, 252, 236, 0.2);
  box-shadow: 0 12px 20px -10px rgba(227, 252, 236, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(227, 252, 236, 0.2);
}

.card_header.bg-teal-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(13, 51, 49, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(13, 51, 49, 0.2);
  box-shadow: 0 12px 20px -10px rgba(13, 51, 49, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(13, 51, 49, 0.2);
}

.card_header.bg-teal-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(32, 80, 79, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(32, 80, 79, 0.2);
  box-shadow: 0 12px 20px -10px rgba(32, 80, 79, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(32, 80, 79, 0.2);
}

.card_header.bg-teal-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(56, 168, 157, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(56, 168, 157, 0.2);
  box-shadow: 0 12px 20px -10px rgba(56, 168, 157, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(56, 168, 157, 0.2);
}

.card_header.bg-teal {
  -webkit-box-shadow: 0 12px 20px -10px rgba(77, 192, 181, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(77, 192, 181, 0.2);
  box-shadow: 0 12px 20px -10px rgba(77, 192, 181, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(77, 192, 181, 0.2);
}

.card_header.bg-teal-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(100, 213, 202, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(100, 213, 202, 0.2);
  box-shadow: 0 12px 20px -10px rgba(100, 213, 202, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(100, 213, 202, 0.2);
}

.card_header.bg-teal-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(160, 240, 237, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(160, 240, 237, 0.2);
  box-shadow: 0 12px 20px -10px rgba(160, 240, 237, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(160, 240, 237, 0.2);
}

.card_header.bg-teal-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(232, 255, 254, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(232, 255, 254, 0.2);
  box-shadow: 0 12px 20px -10px rgba(232, 255, 254, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(232, 255, 254, 0.2);
}

.card_header.bg-blue-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(18, 40, 58, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(18, 40, 58, 0.2);
  box-shadow: 0 12px 20px -10px rgba(18, 40, 58, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(18, 40, 58, 0.2);
}

.card_header.bg-blue-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(28, 61, 90, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(28, 61, 90, 0.2);
  box-shadow: 0 12px 20px -10px rgba(28, 61, 90, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(28, 61, 90, 0.2);
}

.card_header.bg-blue-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(39, 121, 189, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(39, 121, 189, 0.2);
  box-shadow: 0 12px 20px -10px rgba(39, 121, 189, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(39, 121, 189, 0.2);
}

.card_header.bg-blue {
  -webkit-box-shadow: 0 12px 20px -10px rgba(52, 144, 220, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(52, 144, 220, 0.2);
  box-shadow: 0 12px 20px -10px rgba(52, 144, 220, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(52, 144, 220, 0.2);
}

.card_header.bg-blue-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(108, 178, 235, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(108, 178, 235, 0.2);
  box-shadow: 0 12px 20px -10px rgba(108, 178, 235, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(108, 178, 235, 0.2);
}

.card_header.bg-blue-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(188, 222, 250, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(188, 222, 250, 0.2);
  box-shadow: 0 12px 20px -10px rgba(188, 222, 250, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(188, 222, 250, 0.2);
}

.card_header.bg-blue-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(239, 248, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(239, 248, 255, 0.2);
  box-shadow: 0 12px 20px -10px rgba(239, 248, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(239, 248, 255, 0.2);
}

.card_header.bg-indigo-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(25, 30, 56, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(25, 30, 56, 0.2);
  box-shadow: 0 12px 20px -10px rgba(25, 30, 56, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(25, 30, 56, 0.2);
}

.card_header.bg-indigo-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(47, 54, 95, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(47, 54, 95, 0.2);
  box-shadow: 0 12px 20px -10px rgba(47, 54, 95, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(47, 54, 95, 0.2);
}

.card_header.bg-indigo-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(86, 97, 179, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(86, 97, 179, 0.2);
  box-shadow: 0 12px 20px -10px rgba(86, 97, 179, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(86, 97, 179, 0.2);
}

.card_header.bg-indigo {
  -webkit-box-shadow: 0 12px 20px -10px rgba(101, 116, 205, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(101, 116, 205, 0.2);
  box-shadow: 0 12px 20px -10px rgba(101, 116, 205, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(101, 116, 205, 0.2);
}

.card_header.bg-indigo-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(120, 134, 215, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(120, 134, 215, 0.2);
  box-shadow: 0 12px 20px -10px rgba(120, 134, 215, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(120, 134, 215, 0.2);
}

.card_header.bg-indigo-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(178, 183, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(178, 183, 255, 0.2);
  box-shadow: 0 12px 20px -10px rgba(178, 183, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(178, 183, 255, 0.2);
}

.card_header.bg-indigo-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(230, 232, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(230, 232, 255, 0.2);
  box-shadow: 0 12px 20px -10px rgba(230, 232, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(230, 232, 255, 0.2);
}

.card_header.bg-purple-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(33, 24, 60, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(33, 24, 60, 0.2);
  box-shadow: 0 12px 20px -10px rgba(33, 24, 60, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(33, 24, 60, 0.2);
}

.card_header.bg-purple-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(56, 43, 95, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(56, 43, 95, 0.2);
  box-shadow: 0 12px 20px -10px rgba(56, 43, 95, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(56, 43, 95, 0.2);
}

.card_header.bg-purple-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(121, 74, 207, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(121, 74, 207, 0.2);
  box-shadow: 0 12px 20px -10px rgba(121, 74, 207, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(121, 74, 207, 0.2);
}

.card_header.bg-purple {
  -webkit-box-shadow: 0 12px 20px -10px rgba(149, 97, 226, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(149, 97, 226, 0.2);
  box-shadow: 0 12px 20px -10px rgba(149, 97, 226, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(149, 97, 226, 0.2);
}

.card_header.bg-purple-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(167, 121, 233, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(167, 121, 233, 0.2);
  box-shadow: 0 12px 20px -10px rgba(167, 121, 233, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(167, 121, 233, 0.2);
}

.card_header.bg-purple-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(214, 187, 252, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(214, 187, 252, 0.2);
  box-shadow: 0 12px 20px -10px rgba(214, 187, 252, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(214, 187, 252, 0.2);
}

.card_header.bg-purple-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(243, 235, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(243, 235, 255, 0.2);
  box-shadow: 0 12px 20px -10px rgba(243, 235, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(243, 235, 255, 0.2);
}

.card_header.bg-pink-darkest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(69, 18, 37, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(69, 18, 37, 0.2);
  box-shadow: 0 12px 20px -10px rgba(69, 18, 37, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(69, 18, 37, 0.2);
}

.card_header.bg-pink-darker {
  -webkit-box-shadow: 0 12px 20px -10px rgba(111, 33, 63, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(111, 33, 63, 0.2);
  box-shadow: 0 12px 20px -10px rgba(111, 33, 63, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(111, 33, 63, 0.2);
}

.card_header.bg-pink-dark {
  -webkit-box-shadow: 0 12px 20px -10px rgba(235, 82, 134, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(235, 82, 134, 0.2);
  box-shadow: 0 12px 20px -10px rgba(235, 82, 134, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(235, 82, 134, 0.2);
}

.card_header.bg-pink {
  -webkit-box-shadow: 0 12px 20px -10px rgba(246, 109, 155, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(246, 109, 155, 0.2);
  box-shadow: 0 12px 20px -10px rgba(246, 109, 155, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(246, 109, 155, 0.2);
}

.card_header.bg-pink-light {
  -webkit-box-shadow: 0 12px 20px -10px rgba(250, 126, 168, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(250, 126, 168, 0.2);
  box-shadow: 0 12px 20px -10px rgba(250, 126, 168, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(250, 126, 168, 0.2);
}

.card_header.bg-pink-lighter {
  -webkit-box-shadow: 0 12px 20px -10px rgba(255, 187, 202, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 187, 202, 0.2);
  box-shadow: 0 12px 20px -10px rgba(255, 187, 202, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 187, 202, 0.2);
}

.card_header.bg-pink-lightest {
  -webkit-box-shadow: 0 12px 20px -10px rgba(255, 235, 239, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 235, 239, 0.2);
  box-shadow: 0 12px 20px -10px rgba(255, 235, 239, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 235, 239, 0.2);
}
