.fancy-checkbox {
    display: none;
    height: 0;
    width: 0;
}

.fancy-checkbox + label.fc-label {
    @apply flex relative items-center;
    margin: 0.6em 0;
    color: #9e9e9e;
    transition: color 250ms cubic-bezier(0.4, 0.0, 0.23,1);
}

.fancy-checkbox + label.fc-label > ins.fc-ins {
    @apply block absolute w-full overflow-hidden;
    bottom: 1px;
    left: 31px;
    height: 0;
    text-decoration: none;
    transition: height 300ms cubic-bezier(0.4, 0.0, 0.23, 1);
}

.fancy-checkbox + label.fc-label > ins.fc-ins > i.fc-icon {
    @apply absolute;
    bottom: 0;
    font-style: normal;
}

.fancy-checkbox + label.fc-label > span.fc-span {
    @apply flex items-center justify-center cursor-pointer rounded-sm border-2 border-grey-dark;
    margin-right: 0.6em;
    width: 1.33rem;
    height: 1.33rem;
    background: transparent;
    transition: all 250ms cubic-bezier(0.4, 0.0, 0.23, 1);
}

.fancy-checkbox + label.fc-label:hover,
.fancy-checkbox:focus + label.fc-label {
    @apply text-black;
}

.fancy-checkbox + label.fc-label:hover > span.fc-span,
.fancy-checkbox:focus + label.fc-label > span.fc-span {
    @apply bg-grey-lightest;
}

.fancy-checkbox:checked + label.fc-label > ins.fc-ins {
    @apply h-full;
}

.fancy-checkbox:checked + label.fc-label > span.fc-span {
    border: 0.66em solid #4FC3F7;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0.0, 0.23, 1);
}

.fancy-checkbox:checked + label.fc-label > span.fc-span:before {
    @apply absolute;
    content: "";
    top: 0.4em;
    left: 0.2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0.0, 0.23, 1) forwards;
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    33% {
        width: 0.53rem;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    100% {
        width: 0.53rem;
        height: 0.83rem;
        border-color: #212121;
        transform: translate3d(0, -0.5em, 0) rotate(45deg);
    }
}
