<template>
    <div class="material-card-short b-shade">
        <header class="mc-header mc-">

        </header>
        <section class="mc-body">

        </section>
        <footer class="mc-footer" v-hide="!footer">
            <p>Last 24 Hours</p>
        </footer>
    </div>
</template>

<script>
    export default {
        mounted () {
            //
        }
    }
</script>
