<template>
    <form id="quick-quote-form" :action="quotePostUrl" method="post" v-on:submit.prevent="onSubmit()" class="flex w-full">
        <div class="flex flex-row w-full">
            <div class="flex w-1/2 mr-3">
                <div class="flex flex-col w-full">
                    <label class="text-lg mb-3" for="quote">What was said?</label>
                    <textarea name="quote"
                        class="quick-quote_text flex w-full h-64 p-4 border border-grey-light bg-white text-black resize-none"
                        placeholder="Awesome and inspiring quote..."
                        v-model="quote">
                    </textarea>
                </div>
            </div>

            <div class="flex flex-col w-1/2 ml-3">
                <div class="flex flex-col w-full">
                    <label class="text-lg mb-3" for="author">By whom?</label>
                    <input type="text"
                        name="author"
                        class="quick-quote_author flex w-full p-4 border border-grey-light bg-white text-black"
                        placeholder="Author Name Here"
                        v-model="author"
                        v-on:blur="fetchOrCreateAuthor()">
                    <input type="hidden" name="author_id" v-model="author_id">
                </div>

                <div class="flex flex-row w-full mt-4">
                    <div class="flex flex-col w-1/2 mr-2">
                        <label class="text-lg mb-3" for="year">What year?</label>
                        <input type="text"
                            name="year"
                            class="quick-quote_year flex w-full p-4 border border-grey-light bg-white text-black"
                            placeholder="1979"
                            v-model="year">
                    </div>
                    <div class="flex flex-col w-1/2 ml-2">
                        <label class="text-lg mb-3" for="era">Era?</label>
                        <input type="hidden" name="era" value="AD" v-model="era">
                        <div class="flex flex-row items-center justify-center h-full">
                            <span>BC</span>
                            <span class="flex items-center justify-start border border-grey rounded-full cursor-pointer w-12 mx-4"
                                :class="{ 'bg-indigo-dark justify-end': isAd, 'bg-teal-light justify-start': !isAd }"
                                @click="toggleAd()">
                                <span class="rounded-full border w-6 h-6 border-grey shadow-inner bg-white shadow">
                                </span>
                            </span>
                            <span>AD</span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="mt-4 threeD-button threeD-button-green">Save Quote</button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    props: {
        quotePostUrl: {
            type: String,
            required: true,
        },

        authorPostUrl: {
            type: String,
            required: true,
        }
    },

    data() {
        return {
            quote: '',
            author: '',
            author_id: 'null',
            year: '',
            era: 'AD',
            isAd: true,
        }
    },

    mounted() {
        //
    },

    methods: {
        toggleAd () {
            let l_era = 'BC'
            this.isAd = !this.isAd
            if (this.isAd) {
                l_era = 'AD'
            }
            this.era = l_era
        },

        fetchOrCreateAuthor () {
            let _self = this
            if (! Number.isInteger(_self.author_id) || _self.author_id.trim().length === '') {
                axios.post(_self.authorPostUrl, {name: _self.author})
                    .then(function (resp) {
                        _self.author_id = resp.data.id
                    })
                    .catch(function (erro) {
                        console.error(erro)
                    })
            }
        },

        onSubmit () {
            let _this = this
            let payload = {
                author_id: _this.author_id,
                body_markdown: _this.quote,
                year: _this.year,
            }

            axios.post(_this.quotePostUrl, payload)
                .then(function (resp) {
                    _this.$snotify.success('You quote by ' + _this.author + ' has been added.', 'Success')

                    _this.quote = ''
                    _this.author = ''
                    _this.author_id = 'null'
                    _this.year = ''
                })
                .catch(function (erro) {
                    _this.$snotify.success('There was a problem, please try again later', 'Error')
                    console.error(erro)
                })
        }
    }
}
</script>
